# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
# node-modules는 git에 올리지말라고 막아둔 것임. 그래서 깃허브에서 바로 다운로드 받으면 실행이 안됨. 그래서 다른 소스를 들고왔을 때 npm i를 쳐서 node-modules가 설치되고 작동이 됨.

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
